h1, h2 {
    text-align: center;
}

button {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}

body {
    margin: 0 auto;
    max-width: 60%;
    background-color: #ffffff;
    color: #000000;
}

a { color: #000000; }

footer {
    display: flex;
    justify-content: space-between;
    bottom: 0;
}

@media (prefers-color-scheme: dark) {
    body { 
        margin: 0 auto;
        max-width: 60%;
        background-color: #181818;
        color: #ffffff;
    }
    button {
        background-color: #181818;
        color: #ffffff;
        border: 1px solid #ffffff;
    }
    a { color: #ffffff; }
}
